*{
box-sizing: border-box;
margin: 0px;
padding: 0px;

}

body {
    
    background-image: url(/images/80s\ background.jpg);

}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;

}


#game-board {
width: 1000;
height: 600px;
/* border: 2px solid black; */
margin: 0px 0px 0px 0px;
position: relative;

background-image: url(/images/8\ bit\ beach.JPG);
background-size: 1400px 500px;

/* background: cover; */
background-repeat: no-repeat;
/* animation: sunset 1s infinite ; */

}



/* #sunsetBg {
    width: 1600px;
    height: 600px;
    margin: auto;
    background-image: url(/images/8\ bit\ beach.JPG);
    background: cover;
    background-repeat: no-repeat; 
}*/
    
   



@keyframes sunset {
    0% {left: 1365px;}
    
    100%{left: -235px;}
    
}


#skater {
    width: 200px;
    height: 210px;
    background-image: url(/images/skaterforward.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 250px;
    left: 200px;
    background: cover;
    border: 3px solid yellowgreen;
    

}


#skater.skater-duck {
    background-image: url(/images/skater-duck.png);
    top: 300px;

}


.jump-animation {
animation: jump 1s linear ;
}

@keyframes jump {
    0% {top: 300px;}

    50% {top: 75px;}

    75% {top: 75px;}
    
    100%{top: 300px;}
    
}

.obstacles {
    height: inherit;
    position: absolute;
    border: 3px solid purple;
    

}


#stone{
    width: 135px;
    height: 110px;
    background-image: url(/images/SM\ 8_bit_stone.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 380px; 
    left: 1365px;
    background: cover;
    animation: stone 4s infinite;
    border: 2px solid red;

}
#cloud{
    width: 235px;
    height: 210px;
    background-image: url(/images/rsz_18_bit_cloud.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 100px; 
    left: 1365px;
    background: cover;  
    animation: cloud 4s infinite;
    border: 2px solid red;
}

@keyframes stone {
    0% {left: 1365px;}
    
    100%{left: -1235px;}
    
}




@keyframes cloud {
    0% {left: 1365px;}
    
    100%{left: -1235px;}
    
}



.score{
width: 30%;
float: right; 
margin-right: 50px;  

}

h1{
    text-align: center;
    font-size: 4em;
    color: black;
}

.Life-Bar {
    width: 35%;
    margin: 0;
    padding: 10px 0px 10px 0px;
    border: 1px solid orange;
    background-color: orange;
    list-style: none;
    display: flex;
    flex-direction: row;
    float: right;
}


/* .container {
    width: 1600px;
    margin: 0px 270px 0px 270px;
    display: flex;
    flex-direction: column;


} */

.sub-container{
    display: flex;
    flex-direction: row;
}

.game-info p {
    width: 50%;
    font-size: 1.5em;
    font-family: 'Press Start 2P', cursive;
    color: grey;
    border: 2px solid #E8CF00;
    background-color: #FFE400;
    margin: 0px 10px 0px 50px;
    padding: 0px 0px 20px 0px;

}

.start-button{
    width: 50%;
    margin-bottom: 300px;
    margin-left: 400px;
    padding: 20px 20px 20px 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
    font-weight: bold;
    color: white;
    background-color: pink;
    border: 2px solid grey;
     

}


