*{
box-sizing: border-box;
margin: 0px;
padding: 0px;

}

body {
    
background-image: url(/images/80s\ background.jpg);

}



#game-board {
width: 1000;
height: 600px;
margin: 0px 0px 0px 0px;
position: relative;
background-image: url(/images/8\ bit\ beach.JPG);
background-size: 1400px 500px;
background-repeat: no-repeat;
margin-left: 20px;


}



#skater {
    width: 200px;
    height: 210px;
    background-image: url(/images/skaterforward.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 250px;
    left: 200px;
    background: cover;    

}


#skater.skater-duck {
    background-image: url(/images/skater-duck.png);
    top: 300px;

}


.jump-animation {
animation: jump 1s linear ;
}

@keyframes jump {
    0% {top: 250px;}

    30% {top: 100px;}

    50% {top: 50px;}

    80% {top: 100px;}
    
    100%{top: 250px;}
    
}

.obstacles {
    height: inherit;
    position: absolute;

}


#stone{
    width: 135px;
    height: 110px;
    background-image: url(/images/SM\ 8_bit_stone.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 380px; 
    left: 1365px;
    background: cover;
    animation: stone 3s ease-in infinite;
}

@keyframes stone {
    0% {left: 1365px;}
    
    100%{left: -1235px;}   
}

#cloud{
    width: 235px;
    height: 210px;
    background-image: url(/images/rsz_18_bit_cloud.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 100px; 
    left: 1365px;
    background: cover;  
    animation: cloud 3s ease-in alternate infinite;
}

@keyframes cloud {
    0% {left: 1365px;}
    
    100%{left: -1235px;}
    
}

#bird{
    width: 170px;
    height: 100px;
    background-image: url(/images/rsz_bird.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 200px; 
    left: 1365px;
    background: cover;  
    animation: bird 3s ease-in infinite;
}

@keyframes bird {
    0% {left: 1365px;}
    
    100%{left: -1235px;}
    
}


#score {
width: 30%;
margin: 50px 0px 0px 100px;
float: right;


}

h1{
    text-align: center;
    font-size: 2em;
    color: black;
    font-family: 'Press Start 2P', cursive;

}



.sub-container{
    display: flex;
    flex-direction: row;
}

.game-info{
    width: 55%;
    border: 2px solid #E8CF00;
    background-color: #FFE400;
    margin-bottom: 40px;
}


.game-info p {
    font-size: 1.5em;
    font-family: 'Press Start 2P', cursive;
    text-align: left;
    color: rgb(75, 72, 72);
    line-height: 40px;
    text-indent: 30px;
    
    margin: 0px 10px 0px 50px;
    padding: 10px 10px 10px 0px;

}

#start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 200px;


}

.start-button{
    width: 50%;
    padding: 20px 20px 20px 20px;
    margin-bottom: 60px;
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
    font-weight: bold;
    color: white;
    border: 2px solid purple;
    outline: none;
    background-color: pink;
    border-radius: 4px;


}

button:hover{
    background: linear-gradient(90deg,#03a9f4, #f441a5, #ffeb3b, #03a94f);
    cursor: pointer;

}





ul{
    width: 25%;
    list-style: none;
    border: 2px solid #E8CF00;
    background-color: #FFE400;
    padding: 20px 10px 20px 12px;
   
} 
h2 {
    font-family: 'Press Start 2P', cursive;
    text-indent: 70px;
    line-height: 40px;
    color: rgb(75, 72, 72);


}
ul li {
    font-family: 'Press Start 2P', cursive;
    line-height: 40px;
    text-indent: 40px;
    color: rgb(75, 72, 72);


}